<!-- Estendemos do template base  -->
{% extends "appprincipal/_layouts/base.html" %}


<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}

<div class="container mt-5">
<h2><a href="#">Usuario</a></h2>
</br>
	<p class="mb-3">Funções </p>
<a href="{% url 'registration:register' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cadastrar Usuario</a></br></br>
<a href="{% url 'registration:usuarios' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Lista Usuarios Cadastrados</a>

{% endblock %}