{% load widget_tweaks %}
{% block conteudo %}



<div class="container mt-3">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nome do Usuario Dirigente Validadora</label></br>
            {% render_field form.user %}
        </div>
        <div class="form-group">
            <label>Nome do dirigente institucional da Validadora</label></br>
            {% render_field form.nome %}
        </div>
        <div class="form-group">
            <label>Sobrenome</label></br>
            {% render_field form.sobrenome %}
        </div>
        <div class="form-group">
            <label>cpf</label></br>
            {% render_field form.cpf %}
        </div>
        <div class="form-group">
            <label>Telefone</label></br>
            {% render_field form.tel %}
        </div>
        <div class="form-group">
            <label>Email</label></br>
            {% render_field form.email %}
        </div></br>
        
        <button type="submit">Cadastrar Dirigente da Inst Validadora</button>

    </form>
</div>


{% endblock %}